@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    body {
        @apply bg-black text-white relative;
    }

    body::before,
    body::after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        background: rgba(200, 150, 255, 0.6);
        box-shadow: 0 0 20px 10px rgba(200, 150, 255, 0.2);
        z-index: 50;
    }

    body::before {
        left: 0;
    }

    body::after {
        right: 0;
    }
}

html {
    scroll-behavior: smooth;
}